/*reset*/
*{margin:0;padding: 0;-webkit-user-select:none;-webkit-tap-highlight-color:rgba(255,255,255,0);font-family: "PingFang SC","Lantinghei SC","Microsoft YaHei",arial,"\5b8b\4f53",sans-serif,tahoma;}
li{list-style: none;}
a{text-decoration: none;}
img{display: block;}
em{font-style: normal;}
input{-webkit-user-select:auto;}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none !important;
}
/*global*/
.clearfix:after{
	content: ""; 
	display: block; 
	clear: both;
}
.clearfix{
	zoom:1;
}
.emptybox{position: relative;width: 100%;height: 5rem;margin-top: -.5rem;}
.common_tip{padding: 16px 22px; color: #fff; background: #000; opacity: 0.7; position:fixed; left:10%; top: 40%; font-size: 14px; border-radius:8px; display: none; z-index: 10000;margin-left: -45px}
.common_tip2{width:16em; padding: 16px 22px; color: #fff; background: #000; opacity: 0.7; position:fixed; left:10%; top: 40%; font-size: 14px; border-radius:8px; display: none; z-index: 10000;margin-left: -45px}
.toast_tip{
  padding: 16px 28px;
  color: #282828; 
  background: #FFF; 
  position:fixed; 
  left:10%; 
  top: 40%; 
  font-size: 14px;
  border-top: 5px #555c61 solid;
  border-bottom-left-radius:8px; 
  border-bottom-right-radius:8px;
  display: none; 
  z-index: 10000;
  margin-left: -45px;
  box-shadow: 0px 10px 10px rgba(0,0,0,.5);
}
/*分享页面css*/
.d_foot{
  /*display: none;*/
  width: 100%;
  position: fixed;
  left:0;
  bottom:0;
  z-index: 105;
}
.d_foot .colse{
  width: 13px;
  height: 13px;
  background: url(../images/img/colse.png) left top no-repeat;
  background-size: 100%;
  position: absolute;
  right: 7px;
  top:8px;
  z-index: 22;
}
.d_foot_bg{
  width: 100%;
  height: 100%;
  background:#000;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
  opacity: 0.75;
}
.d_foot .d_foot_main{
  padding: 11px 30px 7px 15px;
  height: 41px;
  position: relative;
  z-index: 10;
}
.d_foot .left{
  width: 41px;
  height: 41px;
  background:url(../images/img/foot-logo.png) left top no-repeat;
  background-size: 100%;
  float:left;
  margin-right: 7px;
}
.d_foot .text{
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-size: 18px;
  float:left;
}
.d_foot a{
  width:110px;
  height: 34px;
  line-height: 34px;
  margin-top:2px;
  text-align: center;
  background: #fff;
  float: right;
  color:#39d9ab;
  font-size:14px;
  border-radius: 22px;
}
.d_foot .share-img{
  position: absolute;
  right: 5px;
  top: -44px;
}
.notice{
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  font-size: 10px;
  /*line-height: 14px;*/
}
/*animate*/
@keyframes slowroll {
0% {
   	transform:rotate(0deg);
 }
 100% {
   	transform:rotate(-360deg);
 }
}
@keyframes quickroll {
0% {
   	transform:rotate(0deg);
 }
 100% {
   	transform:rotate(-2160deg);
 }
}
/*页面加载图*/
.stressing{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: #fff;
  z-index: 9999999999999;
}
.stressing span{
  width: 100px;
  height: 120px;
  background: url(../images/img/zx-loading.gif) left top no-repeat;
  background-size: 100px;
  position: absolute;
  left: 50%;
  top: 45%;
  margin-left: -50px;
  margin-top: -60px;
}
.pv{
    z-index:5; 
    position: absolute;
    right: 0;
    top: 8px;
    background-color: #FFFFFF;
    border-top: 2px solid #17b3ca;
    border-bottom: 2px solid #17b3ca;
    border-left: 2px solid #17b3ca;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 10px;
}
.pv p{
    font-size: 10px;
}